[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=Cart-{{ ENV }}.azdevops.online:8080
Environment=DB_HOST=MySQL-{{ ENV }}.azdevops.online
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
